{
  "openapi": "3.0.1",
  "info": {
    "title": "ValueCard REST API",
    "version": "v5",
    "description": "# Introduction \n\nCustomer loyalty programs are a proven method to encourage customer retention and to increase the average amount spent-per-purchase.\nValuecard helps the businesses to create and manage successful customer loyalty programs. Using the most advanced and intuitive technology platform, Valuecard’s loyalty programs increase the client’s bottom-line and maximize customer engagement.\nIncluded in Valuecard’s offerings are:\n\n - Loyalty program management tools that use business intelligence,\n   targeted marketing communication, and automated triggers\n - Connectivity with POS systems and customized integration with any\n   other retail systems.\n - Tools to create and manage Coalition Clubs\n   across multiple merchants as well as tools for managing deliveries,\n   online purchases, and immediate rewards.\n - Built-in big data analytics tools to segment and assess customer behavior and patterns, evaluate\n   the effectiveness of campaigns, and more.\n - Fully customized branded mobile app with advanced loyalty features, POS connectivity,\n   location-based messaging, social media integration and more.\n - Advanced cloud-based back-office administrative tools, including\n   reporting, analytics, and loyalty program and mobile-app management\n   capabilities\n\n\n\n## About this Document\n\nThis document describes the REST API operations users can integrate into their POS system to manage customers and purchases for their customer loyalty program.\nThe document is intended for POS companies, not for the loyalty programs owners, who are their clients.\n\n\nAPI operations descriptions in this document include the following sections:\n\n - A brief description of the operation \n - A flow diagram showing the steps\n   included in each API function as the POS operator sees them \n - A description of every field in the API operation.\n - Example requests and responses",
    "contact": {
      "name": "Dan Klipstein",
      "url": "www.valuecard.co.il",
      "email": "dan@valuecard.co.il"
    }
  },
  "servers": [
    {
      "url": "https://valuecard.co.il/api/"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/pos/transaction/VoidTransaction": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidTransactionParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidTransactionParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VoidTransactionParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              }
            }
          }
        },
        "summary": "Cancellation of the Entire Transaction",
        "description": "This operation is triggered when the POS operator wants to completely void an entire transaction, usually after the transaction has been closed. It can also void a transaction before it has been closed if the client decides not to go through with the transaction. It cannot be used to cancel only certain items within the transaction.\n\nOnce a card has been associated with a transaction this operation must be run in order to void the transaction.\n\nThe POS operator initiates a full refund to a transaction. The POS software identifies that Valuecard is associated with the transaction and calls VoidTransaction.\n",
        "tags": [
          "Transaction"
        ]
      }
    },
    "/pos/benefits/GetBenefitsCommitQuery": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsCommitQueryParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsCommitQueryParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsCommitQueryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Benefits"
        ],
        "summary": "Get Benefits Commit Query",
        "description": "##Closing the Transaction\n\nThis operation is triggered by the POS upon closing the transaction. It must be synchronized with the results of the last Get Benefits Query via the [TransactionID].\nEvery time a Get Benefits Query is run the results are sent to the POS along with a [TransactionID]. The results stay there until the POS operator chooses to close the transaction. When closing the transaction, the POS passes the [TransactionID] in the [QueryTransactionID] parameter. It also passes the [Discount] returned from Valuecard which will be populated in the Valuecard [NewBenefits] parameter.\nIf the transaction is completed successfully, the POS will read the function Closing the Transaction and print the [PrintMessage] that Valuecard returned at the Commit stage along with the receipt.\nIf payment did not go through, a request to cancel the entire transaction will be sent.\nWhen a transaction is successfully closed, it returns a new [TransactionID] which is saved in the POS and used for internal reporting, returning items or voiding the transaction as necessary.\n"
      }
    },
    "/pos/club_member/AuthenticateMember": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMemberParameter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMemberParameter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateMemberParameter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticateMemberResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticateMemberResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Self-Service kiosk - member authentication",
        "description": "This endpoint is userd for authenticating a member in a Self service kiost or websites",
        "operationId": ""
      }
    },
    "/pos/club_member/SendAuthenticationMessage": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAuthenticationMessageParameter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAuthenticationMessageParameter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendAuthenticationMessageParameter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Send Authentication Message",
        "description": "This endpoint is userd to send an sms message to the cellphone entered with an authentication code"
      }
    },
    "/pos/club_member/UpdateClubMember": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClubMemberUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClubMemberUpdateParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClubMemberUpdateParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcBaseResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Update Club Member"
      }
    },
    "/pos/club_member/SearchClubMember": {
      "get": {
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "The first name of the cardholder"
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "The last name of the cardholder"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Phone number of the cardholder"
          },
          {
            "name": "cellPhone",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Cellphone number of the cardholder"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "The email address of the cardholder"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Cardholder’s personal ID number"
          },
          {
            "name": "clientIdentifier",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Member and Card Search",
        "description": "This operation is run by the POS operator to search for a club member/card. By default, the search is done by swiping the card. It can also be done by manually entering the client's name, card number, email, ID number, or phone number.\n\nThe search will return the client’s name, card number, cellphone number, email, birthday, expiration date, and more.\n\nOnce you have searched for and found a card, you can perform the following actions:\n - Associate the card to the current transaction by calling the AssociateCardToTransaction operation using the unique CardNumber identifier returned in the search.\n \n - View the benefits on the card by calling the \n[CardInformationEx](#tag/Card/paths/~1pos~1card~1CardInformationEx/get) operation using the unique CardNumber identifier returned in the search.\n \n - View the club member/card details by calling the [ClubMemberDetails](#tag/Members/paths/~1pos~1club_member~1ClubMemberDetails/get)  operation using the unique MemberID identifier returned in the search.\n\n - Edit club member/card details by calling the [UpdateClubMember](#tag/Members/paths/~1pos~1club_member~1UpdateClubMember/post) operation using the unique MemberID identifier returned in the search\n\n - Transfer club member to a new card by calling the TransferCardActivity operation using the unique CardID identifier returned in the search.\n \n - View recent activity by calling the ViewRecentActivity operation using the unique CardID identifier returned in the search.\n",
        "operationId": ""
      }
    },
    "/pos/club_member/RegisterClubMemberEx": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterClubMemberParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterClubMemberParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterClubMemberParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterClubMemberExResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterClubMemberExResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Club Member Register",
        "description": "This operation is run by the POS operator to register a customer as a new member of their loyalty program. The POS operator will be asked if the customer is a club member. If the customer is not a club member, there will be an option to transfer to New Member Registration.\n\nThe new member’s card number can then be linked to the transaction using the output parameter [MemberCardNumber].\nIn the registration screen, the new member can choose whether the primary identifier should be the card number or their phone number. The default is phone number. If they select card number as the primary identifier, they will be asked to swipe the card. If a cellphone number is selected, the number is entered in the appropriate field and the value of -1 (negative 1) is passed to the [Card Number] parameter.\n\nThe new member will be asked to fill in personal details including name, phone number, address, email, birthday and anniversary.\n\nIf the registration succeeds the [PrintMessage] is displayed on the POS. If it fails, an error message will be displayed.\n\nOnce the new member is registered, the card will be linked to the current transaction. The linking identifier will be [CardNumber] which will be returned to from the registration process, whether the registration was done using a real or virtual card.\n\nIn general, for any action other than client registration, if error message -1059 is returned, a registration form will be prompted.",
        "operationId": "205"
      }
    },
    "/pos/club_member/ClubMemberDetails": {
      "get": {
        "parameters": [
          {
            "name": "clientIdentifier",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "memberId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpClubMemberDetailsResult"
                }
              }
            }
          }
        },
        "tags": [
          "Members"
        ],
        "summary": "Club Member Details"
      }
    },
    "/pos/card/CardInformationEx": {
      "get": {
        "parameters": [
          {
            "name": "clientIdentifier",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardInformationExResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardInformationExResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Card"
        ],
        "summary": "Card Information Ex",
        "description": "##View Benefits Details\n\nThis operation may be used in two different scenatios:\n1.To view the benefits details of the Card/Voucher/Member/App the POS operator after a search operation\n2.To associate the Card/Voucher/Member/App to an open transaction on POS so it can materialize its benefits and rewards \nin a later operation withou the need to retype or reswipe the client identifier number.\n\nIf the operation is successful, the card details are displayed on the screen. These details include the name, transaction ID, points, benefits, expiration date, last transaction details, and more. \nThe POS should display vividly a sign that Valuecard is linked along with the clubmember’s name if exists.\nIf the parameter [DisplayUpsale] = 1, a popup window showing the content of the output parameter [UpsaleMessage] is also displayed.\nFrom here the POS operator can continue to Get Benefits Query or close the screen without further action.\nIf the operation fails an error [Message] will be displayed.\n"
      }
    },
    "/pos/budget/LoadBudgetCommitQuery": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetCommitQueryParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetCommitQueryParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetCommitQueryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Budget"
        ],
        "summary": "Commit Loading Budget",
        "description": "After payment is confirmed from the LoadBudget Query, the POS will call the LoadBudgetCommitQuery and upon receiving a positive response, the amount paid will be recorded as a receipt only and will not issue an invoice."
      }
    },
    "/pos/budget/LoadBudgetQuery": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoadBudgetParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcTransactionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Budget"
        ],
        "summary": "Load Budget Query",
        "description": "This operation is used by the POS operator to load money on to the Valuecard. This is different from a regular sales transaction because the money is being transfered onto the card but is not yet considered income. It stays open until the payment is confirmed using \n[LoadBudgetCommitQuery](#tag/Budget/paths/~1pos~1budget~1LoadBudgetCommitQuery/post).\n\nThe POS operator clicks Load Budget. The Search Screen is opened (see section ‎3, “Member and Card Search”). Once a card is identified, a new transaction is created and the POS operator enters the amount to load. The POS operator clicks Confirm and the Web service LoadBudgetQuery is called."
      }
    },
    "/pos/benefits/GetBenefitsQuery": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsJsonParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsJsonParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetBenefitsJsonParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcGetBenefitQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcGetBenefitQueryResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Benefits"
        ],
        "summary": "Get Benefits Query",
        "description": "This operation requests benefits from Valuecard’s server and applies them in the form of a discount to the transaction or simply recording the transaction on Valuecard's servers for points accumulation or just for analysis. It is triggered for every transaction that has a Valuecard associated with it when the POS operator initiates the Payment.\nWhen a POS operator associates a Valuecard with a transaction and clicks “Pay”, the existing benefits from [View Benefits Details] operation are displayed along with a field for applying points or a coupon. If this is second time the POS operator applied points or coupon in this transaction, they will be remembered and displayed in this field.\nAfter applying any relevant points or coupon number and clicking “Continue”, the Get Benefits Query is started. The Get Benefits Query operation retrieves the current transaction data and calculates the final outcome which can translate into bottom line discount and/or items discount. \nIf the output parameter [Discount] is greater than 0, that amount will be credited to the account and tagged as a Valuecard benefit. If items discounts string is returned to POS that each item on the bill should be discounted accordingly along with the description of what was the discount for. If Valuecard is linked, once reached the payment stage, the Get Benefits Query is run again and the benefits are recalculated. Prior to re-running the operation the existing Valuecard discount are deleted.\nIn addition, the content  of the response parameter [PrintMessage] will be displayed on screen thus the cashier will be able to view and comprehend the results.\nIt is not possible to use more than one Valuecard in a transaction unless the checkout mechanism allows splitting a transaction into several parts and relating to each one separately.\nIf the POS operator deletes the Valuecard benefit line (the discount) the following will occur:\n⦁\tValuecard discount will be canceled.\n⦁\tValuecard will no longer be associated with the transaction.\n⦁\tThe VoidTransaction operation will be called."
      }
    }
  },
  "components": {
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "pagenum": {
            "type": "integer",
            "format": "int32"
          },
          "pagerows": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SortType": {
        "type": "object",
        "properties": {
          "sortBy": {
            "type": "string",
            "nullable": true
          },
          "sortOrder": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sorting": {
            "$ref": "#/components/schemas/SortType"
          }
        }
      },
      "AssembledSearchClause": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "dbSessionId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "isTemporary": {
            "type": "integer",
            "format": "int32"
          },
          "typeId": {
            "type": "integer",
            "format": "int32"
          },
          "select": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "where": {
            "type": "string",
            "nullable": true
          },
          "groupBy": {
            "type": "string",
            "nullable": true
          },
          "union": {
            "type": "string",
            "nullable": true
          },
          "createUserId": {
            "type": "integer",
            "format": "int32"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssembledSearchClauseResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AssembledSearchClause"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AssembledSearchClausePreviewRequest": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "select": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "where": {
            "type": "string",
            "nullable": true
          },
          "groupBy": {
            "type": "string",
            "nullable": true
          },
          "union": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AssembledSearchClausePreviewResponseTmp": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "cellPhone": {
            "type": "string",
            "nullable": true
          },
          "cardNum": {
            "type": "string",
            "nullable": true
          },
          "memberClass": {
            "type": "string",
            "nullable": true
          },
          "cardGroup": {
            "type": "string",
            "nullable": true
          },
          "birthDay": {
            "type": "string",
            "nullable": true
          },
          "anniversaryDate": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "zipcode": {
            "type": "string",
            "nullable": true
          },
          "expiredDate": {
            "type": "string",
            "nullable": true
          },
          "customField1": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseStatusModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AssembledSearchClausePreviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AssembledSearchClausePreviewResponseTmp"
            }
          },
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          }
        }
      },
      "AssembledSearchClauseExistingPreviewRequest": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CardGroupFilter": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sorting": {
            "$ref": "#/components/schemas/SortType"
          },
          "cardGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "promoId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "locationId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "searchStr": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CardGroupLocations": {
        "type": "object",
        "properties": {
          "cardGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "locationId": {
            "type": "integer",
            "format": "int32"
          },
          "enableUsage": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CardGroupModel": {
        "type": "object",
        "properties": {
          "cardGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "preloadMin": {
            "type": "number",
            "format": "double"
          },
          "preloadMax": {
            "type": "number",
            "format": "double"
          },
          "isPreload": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pointsRedemption": {
            "type": "integer",
            "format": "int32"
          },
          "allowCellphoneId": {
            "type": "integer",
            "format": "int32"
          },
          "balanceForDiscount": {
            "type": "integer",
            "format": "int32"
          },
          "flexBalanceForDiscount": {
            "type": "integer",
            "format": "int32"
          },
          "cardDailyTransLimit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadBonusType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "unitTypeId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceAllowed": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "allowCustomizedId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "renewalInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardDailyTransLimitPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxDailyDiscountAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxDailyPromosUsage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "manualDiscountType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "discountForPrepaid": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "noBalanceForDiscountCondition": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceLevelForUse": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "minBalToPercentFromOrder": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceToDiscountDelay": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedExternally": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedOnceOnly": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceOnlyPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxBalToDiscountMoney": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxBalToDiscountPercent": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalPurchases": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavings": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayUnusedCoupons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayErrorIfNoPromo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavingsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalVisitsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardNumberDisplayType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayCardGroupName": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayExpirationDate": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayLastVisit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "activeTrailGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "cardGroupLocations": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CardGroupLocations"
            }
          }
        }
      },
      "CardGroupResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CardGroupModel"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AddCardGroupModel": {
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isPreload": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadBonusType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "unitTypeId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceAllowed": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "allowCellphoneId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "allowCustomizedId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "renewalInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardDailyTransLimit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardDailyTransLimitPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxDailyDiscountAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxDailyPromosUsage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "manualDiscountType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "discountForPrepaid": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceForDiscount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "flexBalanceForDiscount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "noBalanceForDiscountCondition": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceLevelForUse": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "minBalToPercentFromOrder": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceToDiscountDelay": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedExternally": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedOnceOnly": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceOnlyPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxBalToDiscountMoney": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxBalToDiscountPercent": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalPurchases": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavings": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayUnusedCoupons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayErrorIfNoPromo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavingsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalVisitsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardNumberDisplayType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayCardGroupName": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayExpirationDate": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayLastVisit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "activeTrailGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "generalAllowedLocations": {
            "type": "string",
            "nullable": true
          },
          "paymentAllowedLocations": {
            "type": "string",
            "nullable": true
          },
          "loadBalanceAllowedLocations": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateCardGroupModel": {
        "required": [
          "id",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isPreload": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadBonusType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "unitTypeId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceAllowed": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "allowCellphoneId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "allowCustomizedId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "renewalInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardDailyTransLimit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardDailyTransLimitPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxDailyDiscountAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxDailyPromosUsage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "manualDiscountType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "discountForPrepaid": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceForDiscount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "flexBalanceForDiscount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "noBalanceForDiscountCondition": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "minBalanceLevelForUse": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "minBalToPercentFromOrder": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceToDiscountDelay": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedExternally": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceLoadedOnceOnly": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "balanceOnlyPerLocation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxBalToDiscountMoney": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxBalToDiscountPercent": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalPurchases": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavings": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayUnusedCoupons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayErrorIfNoPromo": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalSavingsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayTotalVisitsThisYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cardNumberDisplayType": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayCardGroupName": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayExpirationDate": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayLastVisit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "activeTrailGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "generalAllowedLocations": {
            "type": "string",
            "nullable": true
          },
          "paymentAllowedLocations": {
            "type": "string",
            "nullable": true
          },
          "loadBalanceAllowedLocations": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CustomerSeriesModel": {
        "required": [
          "extSeriesId",
          "seriesId",
          "title"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "seriesId": {
            "type": "integer",
            "format": "int32"
          },
          "extSeriesId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CustomerSeriesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CustomerSeriesModel"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomizedField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "typeId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "toolTip": {
            "type": "string",
            "nullable": true
          },
          "sourceId": {
            "type": "integer",
            "format": "int32"
          },
          "isVisible": {
            "type": "integer",
            "format": "int32"
          },
          "maxChar": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "row": {
            "type": "integer",
            "format": "int32"
          },
          "col": {
            "type": "integer",
            "format": "int32"
          },
          "widthPx": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "heightPx": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "titleWidthPx": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "titleToolTip": {
            "type": "string",
            "nullable": true
          },
          "defaultValue": {
            "type": "string",
            "nullable": true
          },
          "internalId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "universalId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "CustomizedFieldResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CustomizedField"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CardGroupsModel": {
        "type": "object",
        "properties": {
          "cardGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CardGroupsDropdownModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "cardGroups": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CardGroupsModel"
            }
          }
        }
      },
      "PromotionModel": {
        "type": "object",
        "properties": {
          "promoId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PromotionResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "promotions": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PromotionModel"
            }
          }
        }
      },
      "BusinessCategoriesDropDown": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BusinessCategoriesResponseDropDown": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "categories": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BusinessCategoriesDropDown"
            }
          }
        }
      },
      "DropDownClassesModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DropDownClassesResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "classes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DropDownClassesModel"
            }
          }
        }
      },
      "LocationDropDownModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LocationDropDownResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "locations": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/LocationDropDownModel"
            }
          }
        }
      },
      "PosTypesDropDownModel": {
        "type": "object",
        "properties": {
          "spId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PosTypesDropDownResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "posTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PosTypesDropDownModel"
            }
          }
        }
      },
      "ChainDropDownModel": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ChainDropDownResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "chains": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ChainDropDownModel"
            }
          }
        }
      },
      "DropDownCityModel": {
        "type": "object",
        "properties": {
          "cityId": {
            "type": "integer",
            "format": "int32"
          },
          "city": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DropDownCityResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "cities": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DropDownCityModel"
            }
          }
        }
      },
      "MenuTypeDropDownModel": {
        "type": "object",
        "properties": {
          "menuType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MenuTypeDropDownResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "menuTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MenuTypeDropDownModel"
            }
          }
        }
      },
      "DropDownKosherTypeModel": {
        "type": "object",
        "properties": {
          "kosherType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DropDownKosherTypeResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "kosherTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DropDownKosherTypeModel"
            }
          }
        }
      },
      "DropDownVouchersCompaniesModel": {
        "type": "object",
        "properties": {
          "vouchersCompany": {
            "type": "string",
            "nullable": true
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DropDownVouchersCompaniesResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "vouchersCompanies": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DropDownVouchersCompaniesModel"
            }
          }
        }
      },
      "CardGroupLoadLocationsEdit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "associated": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SearchClauses": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CardGroupPaymentLocations": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "associated": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CardGroupGeneralLocations": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "associated": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ExtraFieldsUniversalIdsDropDown": {
        "type": "object",
        "properties": {
          "universalId": {
            "type": "integer",
            "format": "int32"
          },
          "fieldName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ExtSeriesModel": {
        "type": "object",
        "properties": {
          "extSeriesId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GeneralDropDownModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LocationFilter": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sorting": {
            "$ref": "#/components/schemas/SortType"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string",
            "nullable": true
          },
          "cardGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "promoId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "terminalId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "locationId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "locationName": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "terminalId": {
            "type": "integer",
            "format": "int32"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "mobileShowOnApp": {
            "type": "integer",
            "format": "int32"
          },
          "cityId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "lcnMaxBalToDiscountMoney": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "lcnMaxBalToDiscountPercent": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lcnMaxAccumulationPerTran": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "mobileGpsLongitude": {
            "type": "string",
            "nullable": true
          },
          "mobileGpsLatitude": {
            "type": "string",
            "nullable": true
          },
          "mobilePhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "mobileOpenHours": {
            "type": "string",
            "nullable": true
          },
          "restType": {
            "type": "string",
            "nullable": true
          },
          "kosherType": {
            "type": "string",
            "nullable": true
          },
          "linkToImage": {
            "type": "string",
            "nullable": true
          },
          "lcnCategoryId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "chainId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "branchFacebook": {
            "type": "string",
            "nullable": true
          },
          "branchTripAdvisor": {
            "type": "string",
            "nullable": true
          },
          "branchNote": {
            "type": "string",
            "nullable": true
          },
          "lcnMaxDiscount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "sapId": {
            "type": "string",
            "nullable": true
          },
          "branchDeliveryPhone": {
            "type": "string",
            "nullable": true
          },
          "branchDeliveryUrl": {
            "type": "string",
            "nullable": true
          },
          "linkToBookATable": {
            "type": "string",
            "nullable": true
          },
          "apiVer": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lcnBusinessCategoryId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lcnBusinessCategoryText": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BranchListResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MemeberFilters": {
        "type": "object",
        "properties": {
          "paging": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sorting": {
            "$ref": "#/components/schemas/SortType"
          },
          "search": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ClubMemberModel": {
        "type": "object",
        "properties": {
          "memberClassId": {
            "type": "integer",
            "format": "int32"
          },
          "clubId": {
            "type": "integer",
            "format": "int32"
          },
          "clubTitle": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "createUserId": {
            "type": "integer",
            "format": "int32"
          },
          "activeTrailGroupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "classStatusId": {
            "type": "integer",
            "format": "int32"
          },
          "chainId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "chainTitle": {
            "type": "string",
            "nullable": true
          },
          "statusText": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ClubMemberResponseModel": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ResponseStatusModel"
          },
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ClubMemberModel"
            }
          },
          "rowsCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "EditClubMemberModel": {
        "type": "object",
        "properties": {
          "memberClassId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "activeTrailGroupId": {
            "type": "string",
            "nullable": true
          },
          "classStatusId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "chainId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "PayMethod": {
        "type": "object",
        "properties": {
          "method": {
            "type": "integer",
            "format": "int32"
          },
          "paymentSum": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "LoadBudgetParameters": {
        "type": "object",
        "properties": {
          "pin": {
            "type": "string",
            "nullable": true
          },
          "loadSum": {
            "type": "number",
            "format": "double"
          },
          "payMethod": {
            "$ref": "#/components/schemas/PayMethod"
          },
          "clientIdentifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VcBaseResponse": {
        "type": "object",
        "properties": {
          "returnCode": {
            "type": "integer",
            "format": "int32"
          },
          "httpCode": {
            "type": "integer",
            "format": "int32"
          },
          "isError": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "printMessage": {
            "type": "string",
            "nullable": true
          },
          "exception": {
            "type": "string",
            "nullable": true
          },
          "tempPrintMessage": {
            "type": "string",
            "nullable": true
          }
        },
        "title": "Common",
        "description": ""
      },
      "VcTransactionResponse": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          },
          "transactionId": {
            "type": "integer",
            "format": "int32",
            "description": "Transaction Id"
          },
          "memberFullName": {
            "type": "string",
            "nullable": true
          },
          "authId": {
            "type": "integer",
            "format": "int32"
          },
          "totalPoints": {
            "type": "integer",
            "format": "int32"
          },
          "finalAmount": {
            "type": "number",
            "format": "double"
          },
          "originalAmount": {
            "type": "number",
            "format": "double"
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "prepaidBalance": {
            "type": "number",
            "format": "double"
          },
          "givenBenefits": {
            "type": "string",
            "nullable": true
          },
          "newBenefits": {
            "type": "string",
            "nullable": true
          },
          "prepayBalanceDescription": {
            "type": "string",
            "nullable": true
          },
          "locationFooter": {
            "type": "string",
            "nullable": true
          },
          "memberCellPhone": {
            "type": "string",
            "nullable": true
          },
          "cardUnitsDescription": {
            "type": "string",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "nullable": true
          },
          "businessAddress": {
            "type": "string",
            "nullable": true
          },
          "discountAmount": {
            "type": "string",
            "nullable": true
          },
          "openingBalance": {
            "type": "number",
            "format": "double"
          },
          "tempPrintMessage": {
            "type": "string",
            "nullable": true
          },
          "givenPromoIDs": {
            "type": "string",
            "nullable": true
          },
          "availableBenefits": {
            "type": "string",
            "nullable": true
          },
          "itemsDiscountArray": {
            "type": "string",
            "nullable": true
          },
          "insertNewItemsArray": {
            "type": "string",
            "nullable": true
          },
          "balanceRedeemed": {
            "type": "string",
            "nullable": true
          },
          "paymentDocType": {
            "type": "integer",
            "format": "int32"
          },
          "paymentClientName": {
            "type": "string",
            "nullable": true
          },
          "cellphone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "cardGroup": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "statusText": {
            "type": "string",
            "nullable": true
          },
          "birthDate": {
            "type": "string",
            "format": "date-time"
          },
          "anniversaryDate": {
            "type": "string",
            "format": "date-time"
          },
          "balanceDisplay": {
            "type": "string",
            "nullable": true
          },
          "upSaleMessage": {
            "type": "string",
            "nullable": true
          },
          "displayUpSale": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "LoadBudgetCommitQueryParameters": {
        "type": "object",
        "properties": {
          "pin": {
            "type": "string",
            "nullable": true
          },
          "payMethod": {
            "$ref": "#/components/schemas/PayMethod"
          },
          "queryTransactionId": {
            "type": "integer",
            "format": "int32"
          },
          "clientIdentifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CardInformationExResponse": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          },
          "transactionId": {
            "type": "integer",
            "format": "int32"
          },
          "memberFullName": {
            "type": "string",
            "nullable": true
          },
          "totalPoints": {
            "type": "integer",
            "format": "int32"
          },
          "prepaidBalance": {
            "type": "number",
            "format": "double"
          },
          "locationFooter": {
            "type": "string",
            "nullable": true
          },
          "memberCellPhone": {
            "type": "string",
            "nullable": true
          },
          "cardUnitsDescription": {
            "type": "string",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "nullable": true
          },
          "businessAddress": {
            "type": "string",
            "nullable": true
          },
          "memberCardNumber": {
            "type": "string",
            "nullable": true
          },
          "upsaleMessage": {
            "type": "string",
            "nullable": true
          },
          "displayUpsale": {
            "type": "integer",
            "format": "int32"
          },
          "availableBenefits": {
            "type": "string",
            "nullable": true
          },
          "insertNewItemsArray": {
            "type": "string",
            "nullable": true
          },
          "cellphone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "cardGroup": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "statusText": {
            "type": "string",
            "nullable": true
          },
          "birthDate": {
            "type": "string",
            "format": "date-time"
          },
          "anniversaryDate": {
            "type": "string",
            "format": "date-time"
          },
          "balanceDisplay": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SpClubMemberDetailsResult": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "cardId": {
            "type": "integer",
            "format": "int32"
          },
          "cardNum": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "birthDay": {
            "type": "string",
            "nullable": true
          },
          "cellPhone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "expiredDate": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "string",
            "nullable": true
          },
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "memberClass": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "zipcode": {
            "type": "string",
            "nullable": true
          },
          "anniversaryDate": {
            "type": "string",
            "nullable": true
          },
          "memberClassId": {
            "type": "string",
            "nullable": true
          },
          "cardStatus": {
            "type": "string",
            "nullable": true
          },
          "balance": {
            "type": "string",
            "nullable": true
          },
          "cardGroup": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RegisterClubMemberParameters": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "birthDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "anniversaryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "cellPhone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "zipCode": {
            "type": "string",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "nullable": true
          },
          "gender": {
            "type": "integer",
            "format": "int32"
          },
          "clientIdentifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RegisterClubMemberExResponse": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          },
          "memberCardNumber": {
            "type": "string",
            "nullable": true
          },
          "memberFullName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ClubMemberUpdateParameters": {
        "type": "object",
        "properties": {
          "idNum": {
            "type": "string",
            "nullable": true
          },
          "extGender": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "birthDay": {
            "type": "string",
            "nullable": true
          },
          "cellPhone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "anniversaryDate": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "zipcode": {
            "type": "string",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "nullable": true
          },
          "memberId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SendAuthenticationMessageParameter": {
        "type": "object",
        "properties": {
          "cellPhone": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "cellPhone"
        ],
        "description": ""
      },
      "AuthenticateMemberParameter": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Code received in user's sms message"
          },
          "celPhone": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "code",
          "celPhone"
        ]
      },
      "AuthenticateMemberResponse": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          }
        }
      },
      "TransItem": {
        "type": "object",
        "properties": {
          "extItemNum": {
            "type": "string",
            "nullable": true
          },
          "sequentialNum": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "itemPrice": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "businessCode": {
            "type": "integer",
            "format": "int64"
          },
          "originalPrice": {
            "type": "number",
            "format": "double"
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "promotionCode": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "groupName": {
            "type": "string",
            "nullable": true
          },
          "family": {
            "type": "string",
            "nullable": true
          },
          "allowDiscount": {
            "type": "integer",
            "format": "int64"
          },
          "parentItem": {
            "type": "string",
            "nullable": true
          },
          "itemName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Tran": {
        "type": "object",
        "properties": {
          "transId": {
            "type": "integer",
            "format": "int64"
          },
          "orderNum": {
            "type": "string",
            "nullable": true
          },
          "numberOfClients": {
            "type": "integer",
            "format": "int64"
          },
          "orderType": {
            "type": "integer",
            "format": "int64"
          },
          "clientNum": {
            "type": "integer",
            "format": "int64"
          },
          "transItems": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TransItem"
            }
          }
        }
      },
      "ParseJson": {
        "type": "object",
        "properties": {
          "trans": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Tran"
            }
          }
        }
      },
      "GetBenefitsJsonParameters": {
        "required": [
          "clientIdentifier",
          "transactionSum"
        ],
        "type": "object",
        "properties": {
          "clientIdentifier": {
            "type": "string"
          },
          "transactionSum": {
            "type": "number",
            "format": "double"
          },
          "budgetToUse": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "pin": {
            "type": "string",
            "nullable": true
          },
          "voidTransactionId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "requestedPromoIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "transaction": {
            "$ref": "#/components/schemas/ParseJson"
          }
        }
      },
      "VcGetBenefitQueryResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "integer",
            "format": "int32"
          },
          "memberFullName": {
            "type": "string",
            "nullable": true
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "locationFooter": {
            "type": "string",
            "nullable": true
          },
          "memberCellPhone": {
            "type": "string",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "nullable": true
          },
          "openingBalance": {
            "type": "number",
            "format": "double"
          },
          "tempPrintMessage": {
            "type": "string",
            "nullable": true
          },
          "givenPromoIDs": {
            "type": "string",
            "nullable": true
          },
          "availableBenefits": {
            "type": "string",
            "nullable": true
          },
          "itemsDiscountArray": {
            "type": "string",
            "nullable": true
          },
          "insertNewItemsArray": {
            "type": "string",
            "nullable": true
          },
          "givenPointsRedemption": {
            "type": "string",
            "nullable": true
          },
          "common": {
            "$ref": "#/components/schemas/VcBaseResponse"
          },
          "upSaleMessage": {
            "type": "string",
            "nullable": true
          },
          "displayUpSale": {
            "type": "integer",
            "format": "int32"
          }
        },
        "title": ""
      },
      "TransItemCommit": {
        "type": "object",
        "properties": {
          "extItemNum": {
            "type": "string",
            "nullable": true
          },
          "sequentialNum": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "itemPrice": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "number",
            "format": "double"
          },
          "businessCode": {
            "type": "integer",
            "format": "int64"
          },
          "originalPrice": {
            "type": "number",
            "format": "double"
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "promotionCode": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "groupName": {
            "type": "string",
            "nullable": true
          },
          "family": {
            "type": "string",
            "nullable": true
          },
          "allowDiscount": {
            "type": "integer",
            "format": "int64"
          },
          "parentItem": {
            "type": "string",
            "nullable": true
          },
          "itemName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TranCommit": {
        "type": "object",
        "properties": {
          "transItems": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TransItemCommit"
            }
          }
        }
      },
      "ParseJsonCommit": {
        "type": "object",
        "properties": {
          "trans": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TranCommit"
            }
          }
        }
      },
      "GetBenefitsCommitQueryParameters": {
        "required": [
          "queryTransactionId"
        ],
        "type": "object",
        "properties": {
          "clientIdentifier": {
            "type": "string",
            "nullable": true
          },
          "transactionSum": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "queryTransactionId": {
            "type": "integer",
            "format": "int32"
          },
[...]
